@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  cursor: url(/public/cursor.ani);

  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.bg-gradient {
  background: linear-gradient(
    0deg,
    rgba(236, 222, 255, 0.6) 0%,
    rgba(255, 255, 255, 0.6) 96.25%
  );
  box-shadow: 0px 24px 37px 0px rgba(101, 57, 184, 0.15);
}

.bg-casino {
  background: url('/bg2.png');
}

html {
  scroll-snap-type: y mandatory;
}

.scroll {
  scroll-snap-align: center;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/bg2.png') center/cover fixed; /* Replace 'your-background-image.jpg' with your actual background image */
  z-index: -1;
}

.scroll-up-down {
  animation: scroll-up-down 6000ms linear infinite;
}

@keyframes scroll-up-down {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
